<h1 class = "title">Change Password</h1>

<%=form_with model: @user, class:"grid-container layout2", url: update_user_password_path(@user.id), local: true do |f| %>
    <div>
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class:"layout2" %>
    </div>

    <div>
        <%= f.label :new_password %>
        <%= f.password_field :new_password, class:"layout2" %>
    </div>

    <div>
        <%= f.label :new_password_confirmation %>
        <%= f.password_field :new_password_confirmation, class:"layout2" %>
    </div>

    <%= f.submit "Save Change", class: "button"%>

<% end %>